* {
    box-sizing: border-box;
}
body {
    direction: rtl;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
  header {
    background: linear-gradient(to bottom, #909090 85%,#909090 85%,#aaaaaa 100%);
    height: 105px;
    margin-top: 0;
  }
  .search-box {
    position: absolute; 
    top: 20px;
    left: 10px;
    width: 152px;
  }
  .input {
      float: right;
      width: 132px;
      height: 20px;
      border-radius: 0px 10px 0px 0px;
  }
  #search-button {
      float: left;
      width: 20px;
      height: 20px;
  }
  .lang {
      position: absolute;
      top: 20px;
      left: 180px;
  }
  .lang > a {
    font-size: 12px;
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  .lang > a:hover {
      color: rgb(0, 92, 156);
      text-decoration: underline;
  }
  .logo > img {
      position: absolute; 
      top: 35px;
      right: -8px;
      display: block;
  }
  main.content-container {
      margin-top: 30px;
  }
  /* NAV SECTION */
  nav {
      position: absolute;
      top: 73px; 
      right: 110px;
  }
  nav > ul {
      margin: 0px;
  }
  nav > ul > li {
      display: inline;
      padding: 0px 5px;
      padding-bottom: 17px;
      float: right;
  }
  nav > ul > li > a {
    display: inline-block;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
  }
  nav > ul > li > a:hover {
    color: rgb(0, 92, 156);
    text-decoration: underline;
  }
  .dropdown {
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(to top, #909090 85%,#909090 85%,#aaaaaa 100%);
    top: 32px;
    right: -15px;
    width: 150px;
  }
  .dropdown-content > a {
    display: block;
    text-decoration: none;
    padding: 5px 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 0.5px solid rgb(168,168,168); 
  }
  .dropdown:hover > .dropdown-content {
    display: block;
    z-index: 1;
  }
  .dropdown-content > a:hover {
    color: rgb(0, 92, 156);
    text-decoration: underline;
    background-color: rgb(188,188, 188);
  }

  /* FOOTER */
  footer {
    background: linear-gradient(to top, #909090 85%,#909090 85%,#aaaaaa 100%);
    height: 38px;
    margin-top: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
  footer > div.content-container > ul {
      list-style-type: none;
      margin-top: 0px;
      padding-top: 10px;
      color: white;    
  }
  footer > div.content-container > ul > li {
    padding: 0px 2.5px;
    float: right;
  }
  footer > div.content-container > ul > li > a {
      color: white;
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
  }
  footer > div.content-container > ul > li:last-child > a {
    color: red;
    text-decoration: none;
    font-size: 14px;
    font-weight: lighter;
}
footer > div.content-container > ul > li > a:hover {
    color: rgb(0, 92, 156);
    text-decoration: underline;
}
/* FIRST ROW IN THE MAIN CONTAINER */
.content-container {
    width: 900px;
    margin: auto; 
    position: relative;
}
.flex-container {
    display: flex;
    margin-bottom: 20px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .flex-container > div {
      width: 33.3%;
      margin: 5px;
      /* border: solid; */
      position: relative;
  }
main > div.flex-container > div.flex-item1 >img {
    border-radius: 0% 0% 10% 0%;
}
main > div.flex-container > div.flex-item1 > div.explanation-text {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
    font-size: 13px;
    background-image: url(images/images/hp_tab_text_bg.png);
    background-repeat: no-repeat;
    width: 248px;
    height: 97px;
    padding: 5px 10px;
    margin-bottom: 3px;
}
h3, p {
    margin: 0px 0px;
}
.read-more-link > a {
    color: white;
    float: left;
}
.read-more-link > a:hover {
    color: rgb(0, 92, 156);
}
.flex-item2 {
    height: 216px;
    width: 292px;
    background-image: url(images/images/small_cube_bg.png);
    padding: 0px 24px;
    border-right: 0.5px solid rgb(224, 224, 224);
    border-radius: 0% 10% 0% 0%;
}