* {
    box-sizing: border-box;
}
body {
    direction: rtl;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif
}
.content-container {
    width: 900px;
    margin: auto; 
}
.flex-container {
    display: flex;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .flex-container > div {
      width: 33.3%;
      margin: 5px;
      border: solid;
  }